.card {
  border-color: transparent;
  border-radius: 5%;
}

body {
  background-color: #bbb;
}

h1, h2, h3, b, p, a, button, warning, feature {
  font-family: "Poppins";
  color: rgb(17, 17, 17);
  text-decoration: none;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

b, button {
  font-weight: 500;
}

p {
  font-weight: 300;
}

warning {
  font-weight: 500;
  color: #C85252 !important;
}

feature {
  font-weight: 500;
  color: #409C5C !important;
}

li {
  list-style: none;
}
